* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  

/* CONFIGURAÇÕES DE ALINHAMENTO */
.container
{
    display: flex;
    justify-content: center;
    background-color: #FB6B6B;
    height: 100vh;
}

.content
{
    height: 100vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* ===================================== */


/* TOPO DO SITE */
.logo
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nome-logo
{
    color: white;
    font-weight: bold;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 50px;
}
/* ===================================== */

/* ORGANIZAÇÃO DOS CARDS */

.cards-container
{
    display: flex;
    flex-direction: column;
}

/* ===================== */

/* ESTILIZAÇÃO DOS CARDS  */

.card
{
    height: 6vh;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ====================== */